.banner-item {
  height: 100vh !important;
}

.banner-layer {
	position: relative;
	width: 100%;
	height: 100%;
}

.product-img-item {
	height: 250px;
	object-fit: cover;
}

.product-detail-image {
	height: 400px;
	object-fit: cover;
}

.wrap-menu-desktop{
	top: 0px !important;
}

/* content */
.content-wrap {
	margin-top: 60px;
	padding-top: 30px;
}